*.lck
*.bak_*
~$*.*
~$*.*
*.tmp
.gradle
build
.classpath
.project
*.iml
.idea

*.swp

out/

target/

*.iml

*.ipr

*.iws

*.bak

.settings

.classpath

.project

.metadata

.idea

logs

*.log

/bin

*/bin

*.lnk
test-logs/
dist/
fundamental-core-service/src/main/resources/rebel.xml
fundamental-core-facade/src/main/resources/rebel.xml
fundamental-core-facade/src/main/resources/rebel-remote.xml
fundamental-core-service/src/main/resources/rebel-remote.xml
